:host {
  --background: #f9fafb;
  --primary: #262626;
  --secondary: #8f8f8f;
  --highlight: #ff4b4b;
  --dialog-p-x: 1em;
  --dialog-p-y: 0.8em;
  --list-p-x: 1em;
  --list-p-y: 0.5em;
  --animation-duration: 0.2s;
}

dialog {
  display: flex;
  flex-direction: column;
  outline: none;
  border: none;
  border-radius: 0.5em;
  pointer-events: all !important;
  padding: 0;
  font-family: Arial,sans-serif;
  line-height: 1.6;
  background-color: var(--background);
  color: var(--primary);
  width: 28em;
  max-width: min(calc(100vw - 4em), 50em);
  max-height: calc(100vh - 4em);
  margin-top: 2em;
  font-size: 16px;

  * {
    box-sizing: border-box;
  }

  &::backdrop {
    -webkit-backdrop-filter: blur(6px) grayscale(75%) brightness(60%);
    backdrop-filter: blur(6px) grayscale(75%) brightness(60%);
  }

  form {
    margin: 0;
    padding: 0;
  }

  input[type="text"] {
    font-size: 1em;
    padding: var(--dialog-p-y) var(--dialog-p-x);
    width: 100%;
    border: none;
    outline: none;
    color: var(--primary);
    background-color: transparent;

    &::placeholder {
      color: var(--secondary);
    }
  }

  ul, ol {
    margin: 0;
    padding: 0 0 var(--dialog-p-y) 0;
    list-style-type: none;
    overflow-y: scroll;

    &:empty::after {
      content: "No results";
      display: block;
      text-align: center;
      color: var(--secondary);
    }
  }

  li {
    margin: 0;
    padding: 0;
  }

  a {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* height: 2em; */
    width: 100%;
    padding: var(--list-p-y) var(--list-p-x);
    color: var(--primary);
    text-decoration: none;

    &.active::after {
      content: "Enter";
      display: block;
    }

    section {

    }

    div {
      line-height: 1em;
      text-decoration: none;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }

    &:hover, &.active {
      background-color: var(--highlight);
    }
  }
}

/* Animation */
@keyframes open { from { opacity: 0; } to { opacity: 1; } }
@keyframes close { from { opacity: 1; } to { opacity: 0; } }
dialog.animated { transition: display var(--animation-duration) allow-discrete, overlay var(--animation-duration) allow-discrete; animation: close var(--animation-duration) forwards; }
dialog.animated::backdrop { transition: display var(--animation-duration) allow-discrete, overlay var(--animation-duration) allow-discrete; animation: close var(--animation-duration) forwards; }
dialog.animated[open] { animation: open var(--animation-duration) forwards; }
dialog.animated[open]::backdrop { animation: open var(--animation-duration) forwards; }
